---
# if not given  it will be assigned during subscription process and returned to client
id: "{{ SUBSCRIPTION_NAME }}"
type: "Subscription"
#name: "{{ ENTITY_NAME }}"
description: "{{ ENTITY_NAME }}"
entities:
  - id: "{{ ENTITY_NAME }}"
    type: "{{ ENTITY_TYPE }}"
notification:
  endpoint:
    uri: "{{ values.device.subscription_url }}"
    accept: "application/json"
    receiverInfo:
{% if ':9090' in values.context_broker.base_url or 'scorpio' in values.context_broker.base_url %}
      - Link: '<{{ values.ngsi_ld.context }}>; rel="http://www.w3.org/ns/json-ld#context"; type="application/ld+json"'
      - Fiware-Service: "{{ values.ngsi_ld.service }}"
      - Fiware-ServicePath: "{{ values.ngsi_ld.service_path }}"
      - NGSILD-Tenant: "{{ values.ngsi_ld.service }}"
      - NGSILD-Path: "{{ values.ngsi_ld.service_path }}"
      - SmartVillage-API: "{{ values.smartvillage.smart_model_api }}"
{% else %}
      - key: Link
        value: '<{{ values.ngsi_ld.context }}>; rel="http://www.w3.org/ns/json-ld#context"; type="application/ld+json"'
      - key: Fiware-Service
        value: "{{ values.ngsi_ld.service }}"
      - key: Fiware-ServicePath
        value: "{{ values.ngsi_ld.service_path }}"
      - key: NGSILD-Tenant
        value: "{{ values.ngsi_ld.service }}"
      - key: NGSILD-Path
        value: "{{ values.ngsi_ld.service_path }}"
      - key: SmartVillage-API
        value: "{{ values.smartvillage.smart_model_api }}"
{% endif %}
"@context":
  - https://raw.githubusercontent.com/computate-org/smartabyar-smartvillage-static/main/fiware/context.jsonld
  - https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld
#  attrs:
#{% for key, attribute in smart_data_model.attributes.items() %}
#    - "{{ smart_data_model.attributes[key].name | default(key) }}"
#{% endfor %}
