apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: fiware-broker
  namespace: fiware
spec:
  acceptors:
    - name: mqtt
      protocols: mqtt
      port: 1883
  console:
    expose: true
  deploymentPlan:
    image: placeholder
    jolokiaAgentEnabled: false
    journalType: nio
    managementRBACEnabled: true
    messageMigration: false
    persistenceEnabled: false
    requireLogin: false
    size: 2
